body {
  margin: 0;
  @import url('https://fonts.googleapis.com/css2?family=Abel&family=Courgette&family=Gentium+Plus:ital,wght@1,700&family=Kanit:wght@300&family=Lobster+Two&family=Oswald:wght@300;400&display=swap');
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(62, 84, 86) !important;
  font-weight: 700;
  font-size: 1.1rem;
  
}

.navbar{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(56, 55, 53);
  flex-wrap: wrap;
  color: aliceblue;
}
.nav-links{
  margin-right: 2rem;
  display: flex;
  gap: 2rem;
}
.main{
  margin-top: 3rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
 
  flex-wrap: wrap;
}
.buttons1{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 6rem;
}
.buttons2{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 6rem;
}
.butto{
  display: none;
}

.buttons1 Link{
  text-decoration: none;
}
/* .btn{
  height: 2rem;
  border-radius: 0.5rem;
  background-color: whitesmoke;
  color: black !important;
  text-decoration: none;
} */
.link{
  text-decoration: none;
  /* color: black!important; */
  color: rgb(10, 10, 10) !important;
}

.mainFinanace{
  width: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 6rem;
  /* margin-top: 2rem; */
  
  color: black;
  /* height: 90vh; */
}
.top-levels{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  color: black;
  flex-wrap: wrap;
}
.lower-levels{
  display: flex;
  flex-direction: row;
  gap: 3rem;
  color: black;
  flex-wrap: wrap;
}

.finance-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
}
.std-form{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  /* background-color: rgb(66, 62, 55); */
  width: 55%;
  align-items: center;
  padding: 1rem;
  border-radius: 0.3rem;
}
.std-form input{
  width: 16rem;
  border: none;
  outline: none;
  border-radius: 0.3rem;
  height: 1.7rem;
}
.std-form label{
  color: aliceblue;
}
.totalexpense{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

/* fees */
.students-fees{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  
}

.students-fees p{
  text-decoration: dashed;
}

/* general-form */
.general-form{
  /* width: 100%; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
margin-top: 100px;
  
 


  

}

/* .form-general{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(170, 170, 151);
  color: rgb(7, 7, 7);
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;
  
} */
form{
  /* width: 70%; */
  margin-left: 5%;
  display: flex;
 
  flex-direction: column;
  font-size: 15px;
  /* align-items: center;
  justify-content: center;
  
 
  color: rgb(7, 7, 7);
  gap: 1rem;
  padding: 1rem;
  border-radius: 1rem;  */
}
/* .inputs{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  flex-wrap: wrap;
} */

.inputs input{
  border-radius: 3px;
  height: 1.5rem;
  width: 12rem;
}
.loginputs,.reginputs{
  height: 35px;
  width: 250px;
  background-color:rgb(232, 240, 254);
 
  text-align: center;
  border: 1px white solid;
  border-radius: 4px;
  color: white;
  font-size: 18px;
}
#loginform,#regform{
  margin-left: 42%;
  margin-right: 50%;

 
 /* display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center; */

}
#loginform{
  margin-top: 100px;
}
#loginemail{
  margin-top: 0px;
}
.headerform{
 font-size: 17px;
 margin-left: 100%;
 color: rgb(255, 166, 0);
}
#loginpassword{
  margin-top: 50px;
}
.loginbtn,.regbtn{
  height: 50px;
  width: 256px;
  background-color:rgb(217, 150, 24);
  margin-top: 50px;
  border: white solid 1px;
  border-radius: 4px;
 
}
.loginbtn:hover,.regbtn:hover{
  background-color: gray;
}
#regform{
  margin-top: 60px;
}
.reginputs{
  margin-bottom: 35px;
}
.regbtn{
  margin-top: 10px;
}
label{
  font-size: 15px;
  font-weight: 100px;
  color: rgb(0, 0, 0);
}
.btn{
  background-color: whitesmoke !important;
  color: #000 !important;
}
.Minputs{
  height:2rem;
  width: 250px;
  background-color: rgb(232, 240, 254);;
  margin-bottom: 30px;
  text-align: center;
  border: 1px rgb(255, 255, 255) solid;
  border-radius: 4px;
  color: rgb(0, 0, 0);
  font-size: 18px;
 
  
}
.checkbox{
  height: 30px;
  width: 150px;


}

.checkboxes{
  display: inline;
 
  margin-bottom: 30px;
 
  font-size: 18px;
}
.photoinput{
 
 
  margin-bottom: 30px;
 
  font-size: 18px;
}
.btnclass{
  
  display: flex;
  flex-direction: row;
  gap: 15%;
  margin-left: 16%;
}


 .btnclass button {
  background-color: rgb(141, 136, 132);
 
  height: 40px;
  width: 200px;
  margin-bottom: 20px;
  border-radius: 2px;
  border: orange 1px solid;
 
  
  
} 
.btnclass button:hover{
  background-color: bisque;
  border: rgb(255, 162, 0) 1px solid;
}
.btnpage{
 display: flex;
 flex-direction: row;
 gap: 50%;
 margin-top: 5%;
 margin-left: 18%;
}
.linklink{
  text-decoration: none;
  color: rgb(0, 0, 0)
}
 button{
  background-color: rgb(112, 111, 111);
  border: 1px orange solid;
  border-radius: 3px;
  width: 180px;
  height: 35px;
  
 
 }
 ::placeholder{
  color: black;
  opacity: 1;
 }

.all-reports{
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center !important;
  margin-top: 5rem;
  gap: 30%;
  flex-wrap: wrap;
}
.reports-split{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  gap: 30% !important;

}

.reports-split Button{
  margin-top: 3rem;
}

/* admission */
.adm-form{
  width: 100% !important;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 4rem;
}
.adm-forms{
  width: 100% !important;
  display: flex;
  
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.adm-form Label{
  color: aliceblue !important;

}

/* .adm-form Select Form.Control{
  width: 80% !important;

} */

.select{
  width: 18% !important;
}
.selects{
  width: 100% !important;
}
h2{
  text-align: center !important;
  color: whitesmoke !important;
}


 /* footer */

 .footer{
  /* padding-top: 70px; */
  /* padding-bottom: 30px; */
  color: white !important;
 margin-top: 10rem;
  position: sticky;
}
.copyright{
  text-align: center;
}